.project {
  padding: 1.5rem 4rem;
  width: 100%;
  position: relative;

  .project-box {
    display: flex;
    width: 100%;
    flex-direction: column;

    .project-heading {
      width: 100%;
      margin-bottom: 1rem;

      h2 {
        font-size: 2.5rem;
        text-align: center;
      }

      p{
        text-align: center;
        font-size: 1.2rem;
        margin-top: 0.4rem;
      }
    }

    .project-content {
      width: 100%;

      .project-cards {
        width: 100%;

        .project-cards-first {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin: 1rem 0;
        }
      }
    }
  }

  .background-image-right {
    position: absolute;
    top: 20%;
    right: 0;
    width: 35%;
    z-index: -4;
    filter: blur(4px);
  }
}

.animate__slideInUp{
  animation: slideInUp 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 486px) {
  .project {
    padding: 1.5rem 0.8rem;

    .secondImage{
        top: 40%;
    }
  }

  .project .project-box .project-content .project-cards .project-cards-first {
    grid-template-columns: repeat(2, 1fr);
    margin: 0.6rem 0;
  }
}
