.projectCard {
  width: 100%;
  margin: 1rem 0;

  .projectCard-img {
    position: relative;
    width: 90%;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
      object-position: center;
      height: auto;
      border-radius: 30px;
      cursor: pointer;
    }
  }

  .projectCard-desc {
    padding: 0 1rem 0 0;

    h4 {
      font-size: 1.2rem;
      margin-bottom: 0.4rem;

      &:hover {
        color: #e846ba;
        cursor: pointer;
      }
    }

    p {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 1050px) {
  .projectCard {
    .projectCard-img {
      &::before {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 945px) {
  .projectCard {
    margin: 1rem 1.2rem;

    .projectCard-desc {
      h4 {
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .projectCard {
    margin: 1rem 1rem;

    .projectCard-desc {
      h4 {
        font-size: 1rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 486px) {
  .projectCard {
    margin: 1rem 0.8rem;

    .projectCard-desc {
      h4 {
        font-size: 0.9rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
}
