.nav {
  width: 100%;
  position: fixed;
  padding: 1.5rem 4rem;
  z-index: 5;
  top: 0;
  transition: all 0.3s ease-in-out;
  display: flex;

  .backLogo {
    width: max(60px, 10%);
    position: relative;
    margin-right: 1.5rem;

    .logo {
      width: 100%;
      position: absolute;
      left: -30%;
      top: 0;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .nav-routes {
      .nav-anchors {
        font-weight: 400;
        letter-spacing: 0.8px;
        font-size: 18px;
        opacity: 0.75;
        margin: 0 3.5rem;
      }

      .active,
      .nav-anchors:hover {
        opacity: 1;
      }
    }

    .nav-icons {
      display: inline-block;
      margin-left: 1.2rem;

      a {
        width: 42px;
        height: 42px;
        background: rgba(217, 217, 217, 0.1);
        display: inline-flex;
        border-radius: 50%;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        img {
          z-index: 5;
          width: 40%;
          transition: all 0.3s ease-in-out;
        }
      }

      a::before {
        content: "";
        width: 42px;
        height: 42px;
        position: absolute;
        // transform: translate(-80px);   sliding animation
        transform: scale(0);
        transition: all 0.3s ease-in-out;
        background-color: white;
        border-radius: 50%;
      }

      a:hover {
        img {
          filter: brightness(0) saturate(100%) invert(0%) sepia(7%)
            saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
        }

        &::before {
          transform: scale(1);
        }
      }
    }

    .nav-button {
      font-weight: 700;
      color: white;
      border: 1px solid white;
      padding: 18px 34px;
      margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: white;
        left: 0;
        top: 0;
        z-index: -1;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        color: #121212;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
        }
      }
    }

    .navbar-toggler-icon {
      width: 24px;
      height: 17px;
      background-image: none;
      position: relative;
      border-bottom: 2px solid white;
      transition: all 0.3s linear;
      top: -2px;

      &:focus {
        border-bottom: 2px solid white;
      }

      &::after,
      &::before {
        width: 24px;
        position: absolute;
        height: 2px;
        background-color: white;
        top: 0;
        left: 0;
        content: "";
        z-index: 2;
        transition: all 0.3s linear;
      }

      &::after {
        top: 8px;
      }

      &::after {
        transform: rotate(45deg);
        background-color: #fff;
        height: 2px;
      }
      &::before {
        transform: translateY(8px) rotate(-45deg);
        background-color: #fff;
        height: 2px;
      }
    }
  }
}

.scrolled {
  background-color: #121212f4;
  padding: 0 1rem;
}

@media screen and (max-width: 1120px) {
  .nav {
    padding: 1rem 3.5rem;
  }

  .nav .nav-links .nav-routes .nav-anchors {
    margin: 0 1.5rem;
  }

  .nav .nav-links .nav-icons {
    margin-left: 0.8rem;
  }

  .nav .nav-links .nav-button {
    padding: 15px 30px;
  }

  .nav .nav-links .nav-icons a {
    width: 38px;
    height: 38px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 875px) {
  .nav {
    padding: 1rem 2.5rem;
  }

  .nav .nav-links .nav-routes .nav-anchors {
    margin: 0 0.6rem;
  }

  .nav .nav-links .nav-icons {
    margin-left: 0.5rem;
  }

  .nav .nav-links .nav-button {
    font-size: 14px;
    margin-left: 8px;
    padding: 12px 15px;
  }

  .nav .nav-links .nav-icons a {
    width: 28px;
    height: 28px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 620px) {
  .nav {
    padding: 1rem 1.5rem;
  }

  .nav .nav-links .nav-routes .nav-anchors {
    margin: 0 0.6rem;
  }

  .nav .nav-links .nav-icons {
    margin-left: 0.5rem;
  }

  .nav .nav-links .nav-button {
    font-size: 14px;
    margin-left: 8px;
    padding: 12px 15px;
  }

  .nav .nav-links .nav-icons {
    display: none;
  }
}
